<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="session" >
        <classes>
            <class name="JacksonClient.ClientSessionCreateAndDeleteTestNgTest" />
        </classes>
    </test>

    <listeners>
        <listener class-name="JacksonClient.ReporterListener"/>
        <listener class-name="JacksonClient.ListenerTwo"/>
    </listeners>
</suite>
